<div class="container mt-4">
  <h1>Welcome to Vet Clinic</h1>
  <p>This is the public home page.</p>

  <% unless user_signed_in? %>
    <div class="mt-3">
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary me-2" %>
    </div>
  <% end %>
</div>